{% extends "vega_admin/badmin/base.html" %}
{% load i18n %}

{% block extracss %}
<style>
    .search-box {
        margin-bottom: 30px;
    }
</style>
{% endblock %}

{% block main_content %}
    <div class="row search-box">
        <div class="col-md-10 col-md-offset-1">
            <form class="form" action="{% url 'repo:search' %}">
                <div class="input-group">
                    <input
                        type="text" value="{{request.GET.q}}"
                        class="form-control input-lg" name="q"
                        placeholder="Search for documents">
                    <div class="input-group-btn">
                        <button class="btn btn-primary btn-lg" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>Search Results</h2>
            {% for object in object_list %}
                <div class="panel panel-info">
                    <div class="panel-body">
                        <h3>{{object.title}}</h3>
                        <p>{{object.description|linebreaks|truncatewords_html:150}}</p>
                    </div>
                </div>
            {% empty %}
                <div class="panel panel-info">
                    <div class="panel-body">
                        <p>No results.  Please <a href="{% url 'repo:search' %}">try a different search</a>.</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
