{% extends "vega_admin/badmin/base.html" %}
{% load static i18n %}

{% block page_content %}
<div class="row page-content">
    <div class="col-md-12 panel-info">
        {% block all_content %}
        <div class="vega-content-box">
            {% block main_content %}
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row search-form">
                            <form class="form" action="{% url 'repo:search' %}">
                                <div class="input-group">
                                    <input type="text" class="form-control input-lg" name="q" placeholder="Search for documents">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary btn-lg" type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <br/>
                        <div class="row articles">
                            <h3>{% trans "Latest" %}</h3>
                            {% for doc in documents %}
                            <div class="panel panel-info">
                                <div class="col-md-12x">
                                    <div class="panel-body">
                                        <h2>
                                            <a href="{% url 'repo:repo.document-view' doc.id %}">{{doc.title}}</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}
