{% extends "vega_admin/badmin/base.html" %}
{% load static i18n %}



{% block main_content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row articles">
            <h3>{% trans "Feature" %}</h3>
            <div class="panel panel-info">
                <div class="col-md-12x">
                    <div class="panel-body">
                        <h2>
                            <a href="{% url 'repo.document-view' feature.pk %}">{{feature.title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <h3>{% trans "Latest" %}</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    {% for doc in documents %}
                        <div class="col-md-3">
                            <h4>
                                <a href="{% url 'repo.document-view' doc.pk %}">{{doc.title}}</a>
                            </h4>
                        </div>
                    {% endfor %}
                    <div class="col-md-12">
                        <br />
                        <hr />
                        <a href="{% url 'repo.document-list' %}" class="btn btn-info btn-lg">{% trans "More" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row categories">
            <h4>{% trans "Categories" %}</h4>
            <ul class="list-group">
                {% for cat in categories %}
                    <li class="list-group-item">{{cat.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
