{% load i18n %}
<div class="sidebar content-box" style="display: block;">
    <ul class="nav">
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'repo:create' %}"><i class="glyphicon glyphicon-list"></i> {% trans "Add Document" %}</a></li>
            <li><a href="{% url 'account_logout' %}"><i class="glyphicon glyphicon-log-out"></i> {% trans "Log Out" %}</a></li>
        {% else %}
            <li><a href="{% url 'account_login' %}"><i class="glyphicon glyphicon-log-in"></i> {% trans "Login" %}</a></li>
            <li><a href="{% url 'account_signup' %}"><i class="glyphicon glyphicon-user"></i> {% trans "Register" %}</a></li>
        {% endif %}
    </ul>
</div>
